<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>TIENDA 2024 - Joyería</p>
            <p>Costa Rica
                Tel: 8888-8888 / tienda@gmail.com
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contáctanos</a>
            </p><br>
        </address>
        <ul class="social nav justify-content-center">
            <li>
                <a href="" target="_blank">
                    <img src="/assets/img/icons/youtube.png" alt="a">
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <img src="/assets/img/icons/twitter.png" alt="">
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <img src="/assets/img/icons/facebook.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</footer>